<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.fedalto.alfred-authenticator</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04E78F6F-11CA-472E-BDB9-626C4970E3B3</key>
		<array/>
		<key>216F0E18-4039-4BD9-9217-D3C50FC0A42A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62EED042-DD45-4430-A810-8D4B9FB6DB12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60B36FC9-246A-44FF-A70C-EAE01A7E2B13</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>77DE2132-D3DF-4EFB-8B9C-152C04BFDF4F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>62EED042-DD45-4430-A810-8D4B9FB6DB12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04E78F6F-11CA-472E-BDB9-626C4970E3B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>77DE2132-D3DF-4EFB-8B9C-152C04BFDF4F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93BD1716-572A-435E-A4D0-1E10C992FF3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>791CDFAA-2116-45E3-B3C4-F0CC300E15CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50543AD4-3B36-48E0-AC12-59031FDCE2FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93BD1716-572A-435E-A4D0-1E10C992FF3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>216F0E18-4039-4BD9-9217-D3C50FC0A42A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Leonardo Fedalto</string>
	<key>description</key>
	<string>2FA client</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>2 Factor Authentication</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>50543AD4-3B36-48E0-AC12-59031FDCE2FC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>2fa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python . "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>__main__.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>2-factor authentication</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>791CDFAA-2116-45E3-B3C4-F0CC300E15CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>98</integer>
				<key>script</key>
				<string>/usr/bin/python . --add {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>__main__.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04E78F6F-11CA-472E-BDB9-626C4970E3B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Usually has the format: xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx</string>
				<key>text</key>
				<string>Type the secret key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>93BD1716-572A-435E-A4D0-1E10C992FF3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>2fa new</string>
				<key>subtext</key>
				<string>Type the Service name. (e.g. google, facebook)</string>
				<key>text</key>
				<string>Store a new 2FA key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60B36FC9-246A-44FF-A70C-EAE01A7E2B13</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>service</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>77DE2132-D3DF-4EFB-8B9C-152C04BFDF4F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>"{var:service}" "{var:secret_key}"</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>62EED042-DD45-4430-A810-8D4B9FB6DB12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>secret_key</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>216F0E18-4039-4BD9-9217-D3C50FC0A42A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04E78F6F-11CA-472E-BDB9-626C4970E3B3</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>216F0E18-4039-4BD9-9217-D3C50FC0A42A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>50543AD4-3B36-48E0-AC12-59031FDCE2FC</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>60B36FC9-246A-44FF-A70C-EAE01A7E2B13</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>62EED042-DD45-4430-A810-8D4B9FB6DB12</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>77DE2132-D3DF-4EFB-8B9C-152C04BFDF4F</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>791CDFAA-2116-45E3-B3C4-F0CC300E15CF</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>93BD1716-572A-435E-A4D0-1E10C992FF3B</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
